## .gitignore cho C#/.NET ##

# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/

# Visual Studio cache/options
.vs/
.vscode/
*.user
*.suo
*.userprefs
*.userosscache

# ReSharper
_ReSharper*/
*.resharper

# NuGet
[Nn]u[Gg]et/[Ll]ocal/
*.nupkg
packages/

# MSTest
*.TestResult.xml
TestResults/

# macOS
.DS_Store

# Rider IDE
.idea/

# Local development
appsettings.Development.json

# Ignore local launch settings
Properties/launchSettings.json